{
  "openapi": "3.0.3",
  "info": {
    "title": "Government Tenders API",
    "version": "1.0.0",
    "description": "Search government tenders and public procurement opportunities with structured results."
  },
  "servers": [
    {
      "url": "https://data.dataleads.pro/v1"
    }
  ],
  "paths": {
    "/tenders/search": {
      "post": {
        "summary": "V1 Tenders Search",
        "operationId": "v1_tenders_search_v1_tenders_search_post",
        "parameters": [
          {
            "name": "x-rapidapi-proxy-secret",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "X-Rapidapi-Proxy-Secret"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TendersSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response V1 Tenders Search V1 Tenders Search Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  }
}